{
  "env": { "browser": true, "es6": true },
  "globals": { "global": true },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "prettier/react"],
  "rules": {
    "eqeqeq": [2, "allow-null"],
    "no-case-declarations": 0,
    "no-debugger": 1,
    "no-empty-pattern": 1,
    "no-unreachable": 1,
    "no-unused-vars": 1,
    "react-hooks/exhaustive-deps": 1,
    "react-hooks/rules-of-hooks": 1,
    "react/display-name": 1,
    "react/prop-types": 1
  },
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks"],
  "settings": { "react": { "version": "detect" } }
}
