.mainLobby,
.gameLobby,
.createGameMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.space {
  flex-basis: 2;
  flex-grow: 1;
}

.mainLobbyGameList {
  overflow-x: hidden;
  overflow-y: auto;
}

.mainLobbyGameItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0.4rem;
}
.mainLobbyGameItemName {
  display: inline-block;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
}
.mainLobbyGameItemPlayers {
  display: inline-block;
  flex-grow: 2;
  padding: 0 1rem;
  text-align: right;
  line-height: 2em;
}

.title {
  color: #ffffff;
  font-size: 32px;
}

.gameName {
  display: table;
  width: 100%;
}
.gameNameLabel {
  display: table-cell;
  width: 50%;
  padding-right: 1em;
  text-align: right;
  color: #ffffff;
  font-size: 32px;
}
.gameNameInput {
  display: table-cell;
  width: 50%;
  text-align: left;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}

.createButton,
.backButton,
.disconnectButton,
.leaveButton {
  font-size: 32px;
}
