:root {
  --blue: #00c2cc;
  --darkaqua: #111b1a;
  --green: #2ee53d;
  --orange: #f2d91a;
  --purple: #8a2ee5;
  --red: #e5482e;
  --white: #e5feff;
}
:root {
  --footer-height: 4rem;
}

@import '/styles/base.css';
@import '/styles/links.css';
@import '/styles/page.css';
@import '/styles/animations.css';
