{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "eqeqeq": [2, "allow-null"],
    "indent": [1, 'tab', {
      "SwitchCase": 0,
      "MemberExpression": 1,
    }],
    "no-console": [1, {allow: ["log", "info", "warn", "error"]}],
    "no-case-declarations": [0],
    "no-debugger": 1,
    "quotes": [1, "single"],
    "semi": [1, "never"],
    "semi-spacing": [1, {"before": false, "after": true}],
  },
  "parser": "babel-eslint",
}
