.gameList {
  overflow-x: hidden;
  overflow-y: auto;
}

.gameItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0.4rem;
}
.gameItemName {
  display: inline-block;
  font-size: 2em;
}
.gameItemPlayers {
  display: inline-block;
  flex-grow: 2;
  padding: 0 1rem;
  line-height: 2em;
  text-align: right;
}
.joinButton {
  padding: 0.2em 0.4em;
  border: 3px solid var(--orange);
  border-radius: 5px;
  color: var(--orange);
  font-weight: bold;
  cursor: pointer;
  transition: color 300ms ease, border 300ms ease;
}
.joinButton:hover,
.joinButton:focus {
  border: 3px solid var(--blue);
  color: var(--blue);
}
.joinButton:active {
  border: 3px solid var(--white);
  color: var(--white);
  transition: none;
}

.createGame {
  padding: 0 2rem;
}
.createGameInput {
  display: inline-block;
}
.createButton {
  display: inline-block;
  padding: 0.2em 0.4em;
  border: 3px solid var(--orange);
  border-radius: 5px;
  color: var(--orange);
  font-weight: bold;
  cursor: pointer;
  transition: color 300ms ease, border 300ms ease;
}
.createButton:hover,
.createButton:focus {
  border: 3px solid var(--blue);
  color: var(--blue);
}
.createButton:active {
  border: 3px solid var(--white);
  color: var(--white);
  transition: none;
}
