.menuButton {
  all: unset;
}
.menuButton::-moz-focus-inner {
  all: unset;
}
.menuButton {
  display: inline-block;
  outline: none;
  color: var(--orange);
  font-weight: bold;
  cursor: pointer;
  transition: color 300ms ease, border 300ms ease;
}
.menuButton:focus,
.menuButton:hover {
  color: var(--blue);
}
.menuButton:active {
  color: var(--white);
  transition: none;
  outline: none;
}
